<div class="container-fluid my-4" id="footer">
    <div class="row">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-4">
            <h2 class="text-center">
                <i class="bi bi-facebook icons"></i>
                <i class="bi bi-instagram icons"></i>
                <i class="bi bi-twitter icons"></i>
            </h2>
        </div>
        <div class="col-12 col-md-4" id="derechos">
            <p class="text-center">&copy; Estudio FD SA de CV. Todos los Derechos Reservados.</p>
        </div>
    </div>
</div>