<div class="container-fluid my-4" id="footer">
    <div class="row d-flex justify-content-center row-redes">
        <div class="col-8 d-flex justify-content-center redes">
            <a href="https://www.instagram.com/estudio_fd/?hl=es-la">INSTAGRAM </a>
            <a href="https://www.facebook.com/EstudioFDMex/">FACEBOOK</a>
            <a href="https://twitter.com/estudiofd?lang=es">TWITTER</a>
            <a href="https://www.pinterest.com.mx/Estudio_FD/_saved/">PINTEREST</a>   
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center" id="derechos">
            &copy; Estudio FD SA de CV. Todos los Derechos Reservados.
        </div>
    </div>
</div>
