<app-header></app-header>
<div class="container-fluid" id="container-estudio">
    <div class="row">
        <div class="col">
            <h1><b>El estudio</b></h1>
            <br/>
            <p>
                El Estudio surgió de manera simple y perfecta. El Estudio es instinto.<br /><br />

                FD es un despacho de diseño que crea espacios y ambientes profundos, prácticos, llenos de movimiento y
                estilo.<br /><br />

                Nos encanta diseñar mobiliario, remodelar espacios y construir experiencias enfocadas en el bienestar
                del usuario.<br /><br />

                Cada uno de nuestros proyectos tiene una personalidad propia, están llenos de incógnitas y soluciones,
                de retos y satisfacciones, pero sobre todo de aprendizaje y mucho diseño.
                <br /><br />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/estudio/images/perfilA.png" class="d-block w-100" alt="...">
        </div>
        <div class="col">
            <p>
                Eduardo estudió diseño industrial en la Universidad Iberoamericana (2002-2005).<br/>
                Posteriormente estudia una maestría en Diseño, en la UAEM (2009-2011) y en 2015 funda ESTUDIO FD.<br/><br />

                Ha colaborado con arquitectos de talla internacional y con más de 10 años de experiencia, para Eduardo el
                diseño es una forma de vida.

                Es crear continuamente soluciones innovadoras. Es transmitir a través de los objetos cotidianos sentimientos
                inmersos en los materiales, las texturas, los aromas y las manos que los fabricaron y diseñaron. <br/>

                
            </p>
        </div>
    </div>
    <div class="row" id="leyenda">
        <div class="col">
            <h5>
            “Un buen diseño debe tener una estética fantástica, una funcionalidad estupenda y una calidad
                extraordinaria”.
            </h5>
        </div>
    </div>
<br/><br/>
    <div class="row">
        <div class="col-md-6">
            <img src="assets/estudio/images/perfil.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col">
            <p>
                Eduardo estudió diseño industrial en la Universidad Iberoamericana (2002-2005).<br/>
                Posteriormente estudia una maestría en Diseño, en la UAEM (2009-2011) y en 2015 funda ESTUDIO FD.<br/><br />

                Ha colaborado con arquitectos de talla internacional y con más de 10 años de experiencia, para Eduardo el
                diseño es una forma de vida.

                Es crear continuamente soluciones innovadoras. Es transmitir a través de los objetos cotidianos sentimientos
                inmersos en los materiales, las texturas, los aromas y las manos que los fabricaron y diseñaron. <br/>

                
            </p>
        </div>
    </div>

</div>
<br/><br/>
<app-footer></app-footer>