#container-estudio{
padding-top: 15px;
font-family: 'Raleway-regular';
text-align: justify;
}

#leyenda{
font-family:'Raleway-regular';
padding-top: 40px;
text-align: left;
text-transform: uppercase;
letter-spacing: 3px;
word-spacing: 8px;
}

.img-perfil{
    margin-bottom: 35px;
}
#foto{
    max-width: 65%;
}

