#container-estudio{
padding-left: 45px;
padding-right: 35px;
padding-top: 15px;
font-family: 'Raleway-regular';
text-align: justify;
}

#leyenda{
font-family:'Raleway-semiboldItalic';
padding-top: 40px;
text-align: left;
}

