<app-header></app-header>
<div class="container" id="container-estudio">
    <div class="row p-4" id="div-title">
        <div class="col">
            <h1><b>{{ 'ESTUDIO.TITILO.TITLE' | translate }}</b></h1>
        </div>
    </div> 
    <div class="row justify-content-center">
          <div class="col p-2">               
                <img src="assets/estudio/images/nosotros.jpg"
                          class="img-fluid img-nostros" alt="...">  
          </div>
   </div>
    <div class="row p-4">
        <div class="col">
        
            <br />
            <p>
                {{ 'ESTUDIO.PAR1.TITLE' | translate }}
                <br /><br />
                {{ 'ESTUDIO.PAR2.TITLE' | translate }}
                <br /><br />
                
                <br /><br />

            </p>
        </div>
    </div>
    <div class="row px-4">
        <div class="col-md-4 img-perfil d-flex justify-content-center">
            <img src="assets/estudio/images/IMG_5483.jpg" class="d-block" id="foto" alt="...">
        </div>
        <div class="col d-flex align-items-end img-perfil">
            <p>
                {{ 'ESTUDIO.PAR5.TITLE' | translate }}<br /><br />
                {{ 'ESTUDIO.PAR6.TITLE' | translate }}<br /><br />

               
            </p>
        </div>
    </div>
    <div class="row p-4" id="leyenda">
        <div class="col-md-10 align-items-center">
            <h6>
                “{{ 'ESTUDIO.PAR8.TITLE' | translate }}”.
            </h6>
        </div>

    </div>
    <br /><br />
    
  
</div>
<br /><br />

