#container-servicios{
    padding-top: 15px;
    font-family: 'Raleway-regular';
    text-align: start;
    }

    .img-proceso{
        width: 100px;
        height: 100px;
        vertical-align: middle;
        text-align: center;
    }

    h1{
        margin-bottom: 15px;
    }

  
    .white-block{
        width: 100%;
        height: 50px;
    }

    .white-block-footer{
        width: 100%;
        height: 110px;
    }

    .mod-services{
        padding-left: 40px;
        padding-right: 40px;
    }
    .img-clientes {
        max-width: 50%;
        height: auto;
    }

