#container-servicios{
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 30px;
    font-family: 'Raleway-regular';
    text-align: justify;
    }

    .img-proceso{
        width: 100px;
        height: 100px;
        vertical-align: middle;
        text-align: center;
    }

    h1{
        margin-bottom: 15px;
    }

    .intro{
        padding-top: 25px;
    }
    .white-block{
        width: 100%;
        height: 45px;
    }

    .mod-services{
        padding-left: 40px;
        padding-right: 40px;
    }