<app-header></app-header>
<div class="container" id="container-servicios">
    <div class="row p-4">
        <div class="col">
            <h1><b>Servicios</b></h1>
            <br />

            <p>
                Desarrollamos proyectos integrales de diseño y arquitectura para el sector residencial, corporativo y
                comercial.
            </p>
            <br />
        </div>
    </div>
    <div class="row d-none d-md-block white-block"></div>
    <div class="row p-4">
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/casa.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <h5><b>ARQUITECTURA</b></h5>
            <p>
                Conceptualización, diseño, visualización, iluminación, construcción y acabados arquitectónicos.
            </p>
            <br />
        </div>
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/residencial1.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <h5><b>RESIDENCIAL</b></h5>
            <p>
                Diseño y fabricación de carpintería fija, cocinas, vestidores, muebles de baño, mobiliario general e
                interiorismo.
            </p>
            <br />

        </div>
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/comercial.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <h5><b>COMERCIAL</b></h5>
            <p>
                Desarrollo y producción de mobiliario, acabados, señalización y remodelación de restaurantes, bares,
                cafeterías, retail, hoteles y colegios.
            </p>
            <br />

        </div>
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/corporativo.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <h5><b>CORPORATIVO</b></h5>
            <p>
                Diseño y producción de escritorios, mobiliario de almacenaje, recepción, salas de juntas, sillería y
                remodelación de oficinas.
            </p>
            <br />
        </div>
    </div>
    <div class="row d-none d-md-block white-block"></div>

    <div class="row p-4">
        <div class="col">
            <h1><b>Partners</b></h1>
            <br />
            <p>
                En el Estudio trabajamos con algunas de las mejores marcas en el mercado. La calidad en materiales y
                procesos caracterizan cada uno de nuestros proyectos.
            </p>

        </div>
    </div>
    <div class="row container-fluid d-flex justify-content-center align-items-center px-4">

        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner1.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner2.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner3.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner4.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner5.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner6.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner7.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner8.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner9.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner10.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner11.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner12.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner12.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner14.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner15.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner16.jpg" class="img-fluid img-clientes" alt="...">
        </div>
    </div>



    <div class="row d-none d-md-block white-block-footer"></div>
    <app-footer></app-footer>