<app-header></app-header>
<div class="container" id="container-servicios">
    <div class="row p-4">
        <div class="col">
            <h1><b>{{ 'SERVICIOS.TITULO.TITLE' | translate }}</b></h1>
            <br />

            <p>
               {{ 'SERVICIOS.SERV_PAR1.TITLE' | translate }}
            </p>
            <br />
        </div>
    </div>
    <div class="row d-none d-md-block white-block"></div>
    <div class="row p-4">
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/casa.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <div class="text-screen-sm">
            <h5><b>{{ 'SERVICIOS.SERV_TIT2.TITLE' | translate }}</b></h5>
            <p>
                {{ 'SERVICIOS.SERV_PAR2.TITLE' | translate }}
            </p>
            </div>
            <br />
        </div>
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/residencial1.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <div class="text-screen-sm">
            <h5><b>{{ 'SERVICIOS.SERV_TIT3.TITLE' | translate }}</b></h5>
            <p>
                {{ 'SERVICIOS.SERV_PAR3.TITLE' | translate }}
            </p>
            </div>
            <br />

        </div>
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/comercial.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <div class="text-screen-sm">
            <h5><b>{{ 'SERVICIOS.SERV_TIT4.TITLE' | translate }}</b></h5>
            <p>
                {{ 'SERVICIOS.SERV_PAR4.TITLE' | translate }}
            </p>
            </div>
            <br />

        </div>
        <div class="col-md-3 mod-services">
            <img src="assets/servicios/images/corporativo.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
            <br /><br />
            <div class="text-screen-sm">
            <h5><b>{{ 'SERVICIOS.SERV_TIT5.TITLE' | translate }}</b></h5>
           
            <p>
                {{ 'SERVICIOS.SERV_PAR5.TITLE' | translate }}
            </p>
           
            </div>
            <br />
        </div>
    </div>
    <div class="row d-none d-md-block white-block"></div>

    <div class="row p-4">
        <div class="col">
            <h1><b> {{ 'SERVICIOS.PARTNER.TITLE' | translate }} </b></h1>
            <br />
            <div id="partners-text">
            <p>
                {{ 'SERVICIOS.PART1.TITLE' | translate }}
            </p>
            </div>
        </div>
    </div>
    <div class="row container-fluid d-flex justify-content-center align-items-center px-4">

        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner1.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner2.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner3.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner4.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner5.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner6.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner7.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner8.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner9.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner10.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner11.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner12.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner12.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner14.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner15.jpg" class="img-fluid img-clientes" alt="...">
        </div>
        <div class="col-4 col-md-2 p-2">
            <img src="assets/servicios/images/partner16.jpg" class="img-fluid img-clientes" alt="...">
        </div>
    </div>



    <div class="row d-none d-md-block white-block-footer"></div>
    <app-footer></app-footer>