
#container-proyectos{
    padding-top: 15px;
    font-family: 'Raleway-regular';
    text-align: justify;
}

.img-proceso{
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 30px;
}

.p-datos{
    text-align: justify;
}

