#container-proyectos{
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 30px;
    font-family: 'Raleway-regular';
    text-align: justify;
}
.intro{
        padding-top: 25px;
}
.img-proceso{
    width: 300px;
    height: 280px;
    vertical-align: middle;
    text-align: center;
    margin: 30px;
}

