<app-header></app-header>
<div class="container-fluid" id="container-proyectos">
    <div class="row intro">
        <div class="col">
            <h1><b>Proyectos</b></h1>
            <br />

            <p>
                Hemos diseñado desde mobiliario para un estadio, pasando por escenografías cinematográficas, hasta la
                remodelación de una capilla.
                <br /><br />
                Somos un equipo de diseñadores, arquitectos y artesanos que creamos experiencias innovadoras en los
                espacios y sus objetos.

            </p>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="assets/proyectos/images/pizzeria/restaurante-periquera.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <img src="assets/proyectos/images/barra/barra-banco.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <img src="assets/proyectos/images/corporativo/ejecutivo-nogal.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
       
    </div>

    <div class="row">       
        <div class="col">
            <img src="assets/proyectos/images/exterior/arquitectura-naturaleza.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <img src="assets/proyectos/images/jimmy/JIMMY1.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <img src="assets/proyectos/images/local/comercial-iluminacion.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="assets/proyectos/images/residencia/residencia-valle.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <img src="assets/proyectos/images/iglesia/banca-madera-colegio.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
        <div class="col">
            <img src="assets/proyectos/images/otros/decoracion-identidad.jpg" class="img-proceso rounded mx-auto d-block" alt="...">
        </div>
    </div>

</div>
<app-footer></app-footer>