
<app-header></app-header>
<div class="container" id="container-proyectos">
    <div class="row p-4">
        <div class="col">
            <h1><b>{{ 'PROYECTOS.TITULO.TITLE' | translate }}</b></h1>
            <br />

            <p class="p-datos">
                {{ 'PROYECTOS.PAR1.TITLE' | translate }}
                <br />
                {{ 'PROYECTOS.PAR2.TITLE' | translate }}
            </p>
        </div>
    </div>

    <div class="row justify-content-center px-4">
        <div class="col-10 col-md-6 p-4">
            <div class="card">
                <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal2">
                    <img src="assets/proyectos/images/corporativo/corporativo-mobiliario.jpg"
                        class="img-fluid img-proyectos" alt="...">
                </button>
                <!-- <div class="card-body">
                    {{ 'PROYECTOS.CARD2.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD2.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD2.N3.TITLE' | translate }}
                </div> -->
            </div>
        </div>
        <div class="col-10 col-md-6 mxy-1 p-4">
            <div class="card">
                <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modInterlomas">
                    <img src="assets/proyectos/images/interlomas/Interlomas1.jpg"
                        class="img-fluid img-proyectos" alt="...">
                </button>
<!--                 <div class="card-body">
                    {{ 'PROYECTOS.CARD1.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD1.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD1.N3.TITLE' | translate }}
                </div> -->
            </div>
        </div>
    </div>

    <div class="row justify-content-center px-4">
        <div class="col-10 col-md-6 p-4"> <!--CAA - GBG-->
            <div class="card">
            <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal4">
                <img src="assets/proyectos/images/gbg/librero-oficina.jpg" class="img-fluid img-proyectos"
                    alt="...">
            </button>
           <!--  <div class="card-body">
                {{ 'PROYECTOS.CARD9.N1.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD9.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD9.N3.TITLE' | translate }}
            </div> -->
        </div>
        </div>

        <div class="col-10 col-md-6 p-4">
            <div class="card">
            <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modalsagasta">
                <img src="assets/proyectos/images/sagasta/Cocina_1_A.jpg" class="img-fluid img-proyectos"
                    alt="...">
            </button>
            <!-- <div class="card-body">
                {{ 'PROYECTOS.CARD10.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD10.N2.TITLE' | translate }} <br /> {{ 'PROYECTOS.CARD10.N3.TITLE' | translate }}
            </div> -->
             </div>
        </div>

     </div>   

    <div class="row justify-content-center px-4">
        <div class="col-10 col-md-6 p-4">
            <div class="card">
                <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal9">
                    <img src="assets/proyectos/images/vestidor/escalera-iluminacion.jpg" class="img-fluid img-proyectos"
                        alt="...">
                </button>
                <!-- <div class="card-body">
                    {{ 'PROYECTOS.CARD4.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD4.N2.TITLE' | translate }}
                    <br /> {{ 'PROYECTOS.CARD4.N3.TITLE' | translate }}
                </div> -->
            </div>
        </div>
            <div class="col-10 col-md-6 p-4">
                <div class="card">
                    <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal5">
                        <img src="assets/proyectos/images/corporativo/anahuac.jpg" class="img-fluid img-proyectos"
                            alt="...">
                    </button>
                    <!-- <div class="card-body">
                        {{ 'PROYECTOS.CARD5.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD5.N2.TITLE' | translate }} <br /> {{ 'PROYECTOS.CARD5.N3.TITLE' | translate }}
                    </div> -->
                </div>
        </div>
        
    </div>
    <div class="row justify-content-center px-4">

    <div class="col-10 col-md-6 p-4">
        <div class="card">
        <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal7">
            <img src="assets/proyectos/images/local/comercial-iluminacion.jpg" class="img-fluid img-proyectos"
                alt="...">
        </button>
        <!-- <div class="card-body">
            {{ 'PROYECTOS.CARD7.N1.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD7.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD7.N3.TITLE' | translate }}
        </div> -->
    </div>
    </div>

    <div class="col-10 col-md-6 p-4">
        <div class="card">
        <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal8">
            <img src="assets/proyectos/images/encinos/boceto-propuesta.jpg" class="img-fluid img-proyectos"
                alt="...">
        </button>
        <!-- <div class="card-body">
            {{ 'PROYECTOS.CARD8.N1.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD8.N2.TITLE' | translate }}<br />{{ 'PROYECTOS.CARD8.N3.TITLE' | translate }}
        </div> -->
        </div>
    </div>
        
    </div>   

    <div class="row justify-content-center px-4">
        <div class="col-10 col-md-6 p-4">
            <div class="card">
                <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal6">
                    <img src="assets/proyectos/images/pizzeria/restaurante-periquera.jpg"
                        class="img-fluid img-proyectos" alt="...">
                </button>
                <!-- <div class="card-body">
                    {{ 'PROYECTOS.CARD6.N1.TITLE' | translate }} <br /> {{ 'PROYECTOS.CARD6.N2.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD6.N3.TITLE' | translate }}
                </div> -->
            </div>
        </div>

        <div class="col-10 col-md-6 p-4">
            <div class="card">
            <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal10">
                <img src="assets/proyectos/images/residencia/residencia-valle.jpg" class="img-fluid img-proyectos"
                    alt="...">
            </button>
            <!-- <div class="card-body">
                {{ 'PROYECTOS.CARD10.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD10.N2.TITLE' | translate }} <br /> {{ 'PROYECTOS.CARD10.N3.TITLE' | translate }}
            </div>  -->
        </div>
    </div>
    
</div>


    <div class="row justify-content-center px-4">
        <div class="col-10 col-md-6 mxy-1 p-4">
            <div class="card">
                <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <img src="assets/proyectos/images/exterior/arquitectura-naturaleza.jpg"
                        class="img-fluid img-proyectos" alt="...">
                </button>
                <!-- <div class="card-body">
                    {{ 'PROYECTOS.CARD1.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD1.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD1.N3.TITLE' | translate }}
                </div> -->
            </div>
        </div>
           
        <div class="col-10 col-md-6 p-4">
            <div class="card">
                <button type="button" class="btn-image" data-bs-toggle="modal" data-bs-target="#modal3">
                    <img src="assets/proyectos/images/iglesia/banca-madera-colegio.jpg" class="img-fluid img-proyectos"
                        alt="...">
                </button>
               <!--  <div class="card-body">
                    {{ 'PROYECTOS.CARD3.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD3.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD3.N3.TITLE' | translate }}
                </div> -->
            </div>
        </div>
    </div>
    
       
        <div class="row p-4">
            <div class="col">
                <h1><b> {{ 'PROYECTOS.CLIENTES.TITLE' | translate }}</b></h1>
            </div>
        </div>
        <div class="row container-fluid d-flex justify-content-center align-items-center px-4">

            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente1.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente2.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente3.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente4.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente5.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente6.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente7.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente8.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente9.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente10.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente11.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente12.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente12.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente14.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente15.jpg" class="img-fluid img-clientes" alt="...">
            </div>
            <div class="col-4 col-md-2 p-6">
                <img src="assets/proyectos/images/clientes/cliente16.jpg" class="img-fluid img-clientes" alt="...">
            </div>
        </div>


        <!--modal 1 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/exterior/arquitectura-naturaleza.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/exterior/obra-minimalista.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/exterior/tequesquitengo.jpg" class="img-fluid"
                                        alt="...">
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD1.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD1.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD1.N3.TITLE' | translate }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

               <!--modal intermolas -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modInterlomas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControlsInterlomas" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/interlomas/Interlomas1.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/interlomas/Interlomas2.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/interlomas/Interlomas3.jpg" class="img-fluid"
                                        alt="...">
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsInterlomas" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsInterlomas" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD11.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD11.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD11.N3.TITLE' | translate }}
                        </div> 
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 2 -->
        <!-- Button trigger modal -->
        
        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel2">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls2" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/corporativo-mobiliario.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/barra/barra-iluminada.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/escritorio-cowork-nogal.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/rappi_1.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/rappi_2.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/rappi_3.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD2.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD2.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD2.N3.TITLE' | translate }}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!--modal 3 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel3">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls3" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/iglesia/banca-madera-colegio.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/iglesia/remodelacion-capilla-celosia.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/iglesia/alberca-exterior.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/iglesia/irish.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD3.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD3.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD3.N3.TITLE' | translate }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 4 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel4">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls4" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/proyectos/images/gbg/librero-oficina.jpg" class="img-fluid"
                                        alt="...">
                                </div>

                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/gbg/corporativo-logo.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/gbg/caa_gbg.jpg" class="img-fluid" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls4" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD9.N1.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD9.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD9.N3.TITLE' | translate }}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 5 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel5">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls5" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/anahuac.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/mesa-silla.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/cristal-oficina.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/corporativo/juntas-cowork.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls5" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls5" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                          
                                {{ 'PROYECTOS.CARD5.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD5.N2.TITLE' | translate }} <br /> {{ 'PROYECTOS.CARD5.N3.TITLE' | translate }}
                           

                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 6 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel6">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls6" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/pizzeria/restaurante-periquera.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/pizzeria/barra-grafico.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/pizzeria/comercial-acabados.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/pizzeria/proceso-creativo.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls6" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls6" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD6.N1.TITLE' | translate }} <br /> {{ 'PROYECTOS.CARD6.N2.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD6.N3.TITLE' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!--modal 7 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel7">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls7" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/local/comercial-iluminacion.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/local/boceto-render.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/local/estanteria-tablaroca.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/local/fachada-neon.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/local/tienda-retail.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls7" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls7" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD7.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD7.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD7.N3.TITLE' | translate }}
                        </div> 
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 8 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel8">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls8" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/encinos/boceto-propuesta.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/encinos/proyecto-visualizacion.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/encinos/maderac-nogal.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls8" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls8" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD8.N1.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD8.N2.TITLE' | translate }}<br />{{ 'PROYECTOS.CARD8.N3.TITLE' | translate }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 9 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel9">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls9" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="assets/proyectos/images/vestidor/escalera-iluminacion.jpg"
                                        class="img-fluid" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/vestidor/gabinete-vestidor.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/vestidor/vestidor-zapatera.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/vestidor/vestidor.jpg" class="img-fluid"
                                        alt="...">
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls9" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls9" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD4.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD4.N2.TITLE' | translate }}
                    <br /> {{ 'PROYECTOS.CARD4.N3.TITLE' | translate }}
                         </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <!--modal 10 -->
        <!-- Button trigger modal -->

        <div class="modal fade" id="modal10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel10">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControls10" class="carousel carousel-dark slide"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/proyectos/images/residencia/residencia-valle.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/residencia/cocina-granito.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/residencia/madera-litera.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControls10" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControls10" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD10.N1.TITLE' | translate }} <br />  {{ 'PROYECTOS.CARD10.N2.TITLE' | translate }}
                    <br /> {{ 'PROYECTOS.CARD10.N3.TITLE' | translate }}
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalsagasta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabelSagasta">{{ 'PROYECTOS.GALERIA.TITLE' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                        <div id="carouselExampleControlsSagasta" class="carousel carousel-dark slide"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="assets/proyectos/images/sagasta/Cocina_1_A.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/sagasta/Recamara2.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="assets/proyectos/images/sagasta/Sala_3.jpg" class="img-fluid"
                                        alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleControlsSagasta" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleControlsSagasta" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body">
                            {{ 'PROYECTOS.CARD12.N1.TITLE' | translate }}<br /> {{ 'PROYECTOS.CARD12.N2.TITLE' | translate }} <br />{{ 'PROYECTOS.CARD12.N3.TITLE' | translate }}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row d-none d-md-block white-block-footer"></div>
    <app-footer></app-footer>


    