<app-header></app-header>
<div class="container-fluid secc-home" id="container-home">
   <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
    
      <img src="assets/home/images/fondo2022.jpg" class="bg-img" alt="...">
     
        <div class="centrado title">ESTUDIO FD</div> 
    
    </div>
  </div>
  </div>



<div class="container-fluid secc-home container-secciones" id="seccion-1">
  <div class="row align-items-center position-relative">
    <div class="col-12 col-md-7 align-items-center p-3" id="col-sec1">
      <span>En ESTUDIO FD creamos sensaciones a través de nuestros proyectos de interiorismo. 
        Ayudamos a las personas a ser más productivas, a disfrutar su entorno y a ser más felices en sus espacios.</span>
        <a routerLink="/estudio" class="stretched-link"> </a>
      </div>
      <div class="col-12 col-md-5 p-4">
        <img src="assets/home/images/Banner_FD_2x2.jpg"
        class="img-fluid img-proyectos" alt="...">
      </div>

    </div>
  
</div>

<div class="container container-secciones">
  <div class="row">
      <div class="col">
          <h2><b>{{ 'SERVICIOS.TITULO.TITLE' | translate }}</b></h2>
      </div>
  </div>
  <div class="row d-none d-md-block white-block"></div>
  <div class="row p-4">
    <div class="col-md-4 mod-services py-4">
      <button type="button" class="btn-image" data-bs-toggle="modal" routerLink="/servicios" >
      <img src="assets/servicios/images/corporativo.jpg" class="img-proceso rounded mx-auto d-block" alt="..."></button>
      <br />
      <div class="text-screen-sm">
      <h5><b>{{ 'SERVICIOS.SERV_TIT5.TITLE' | translate }}</b></h5>
     
      
     
      </div>
      <br />
  </div>
      <div class="col-md-4 mod-services py-4">
        <button type="button" class="btn-image" data-bs-toggle="modal" routerLink="/servicios">
          <img src="assets/servicios/images/residencia.jpg" class="img-proceso rounded mx-auto d-block" alt="..."></button>
          <br />
          <div class="text-screen-sm">
          <h5><b>{{ 'SERVICIOS.SERV_TIT3.TITLE' | translate }}</b></h5>
         
          </div>
          <br />

      </div>
      <div class="col-md-4 mod-services py-4">
        <button type="button" class="btn-image" data-bs-toggle="modal" routerLink="/servicios">
          <img src="assets/servicios/images/comercial.jpg" class="img-proceso rounded mx-auto d-block" alt="..."></button>
          <br />
          <div class="text-screen-sm">
          <h5><b>{{ 'SERVICIOS.SERV_TIT4.TITLE' | translate }}</b></h5>
          
          </div>
         

      </div>
      
  </div>
  <div class="row p-4">
    <div class="col d-flex justify-content-center">
       ¡Motivamos a tu equipo transformando tus oficinas en espacios espectaculares!
    </div>
  
  </div>
  </div><!--termina servicios-->

  <div class="container container-secciones">
    <div class="row">
        <div class="col">
            <h2><b>{{ 'PROYECTOS.TITULO.TITLE' | translate }}</b></h2>
            <br />
        </div>
    </div>
    <div class="row justify-content-center">

      <div class="col-10 col-md-6 p-2">
          
              <button type="button" class="btn-image" data-bs-toggle="modal" routerLink="/proyectos">
                  <img src="assets/proyectos/images/interlomas/Interlomas1.jpg"
                      class="img-fluid img-proyectos" alt="...">
              </button>

          
      </div>

      <div class="col-10 col-md-6 p-2">
          
              <button type="button" class="btn-image" data-bs-toggle="modal" routerLink="/proyectos">
                  <img src="assets/proyectos/images/sagasta/Cocina_1_A.jpg"
                      class="img-fluid img-proyectos" alt="...">
              </button>

         
      </div>
      </div>
    </div><!--termina proyectos-->

    <div class="container container-secciones">
      <div class="row" style="padding-top: 50px;">
          <div class="col">
            <h2><b>{{ 'CONTACTO.TITULO.TITLE' | translate }}</b></h2>
            <br />
          </div>
      </div>
      
      <div class="row p1">
        <div class="col d-flex justify-content-center" style="text-align: center;">
          <a href="https://api.whatsapp.com/send?phone=34691013689"> <fa-icon [icon]="faWhatsapp" class="iconWhatsapp"></fa-icon>  </a>
        </div>
      </div>
     
      <div class="row position-relative">
        <div class="col d-flex justify-content-center" style="text-align: center;">
          <a routerLink="/contacto" class="stretched-link">           
          México & Madrid<br />
          eduardo@estudiofd.com<br />
      </a>
        </div>
     
      <div class="row d-flex justify-content-center secc-home p-3">
        <div class="col d-flex justify-content-center">   
              <img src="assets/home/images/ESTUDIOFD.png"
                  class="img-fluid img-logo" alt="...">
        </div>
        
      </div>  
    </div>
      <div class="row d-flex justify-content-center secc-home">
        <div class="col d-flex justify-content-center">   
    </div>
        </div>
      
         
         
    </div>


  