
#container-home{
   font-family: 'Raleway-light';
}

.bg-img{
    background-image: url("./../../../assets/home/images/FONDO.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 89vh;
    width: 100vw;
}

.title{
    font-size: 45px;
    letter-spacing: .28em;
    text-align: center;
    font-weight: bold;

}

#derechos{
    font-size: 12px;
    padding-top: 10px;
}

