#container-contacto{
    padding-top: 15px;
    font-family: 'Raleway-regular';
    text-align: justify;
}

.white-block-footer{
    width: 100%;
    height: 100px;
}
.iconWhatsapp{
    font-size: 50px;
    opacity: 0.55;
    color: gray;
    margin-left: 1em;
}
@media (max-width: 576px){
.formulario{
padding-right: 42px;
padding-left: 20px;
}
.img-logo{
    max-width: 16%;
    margin-left: 2em;
}
}
@media (min-width: 576px){
    .formulario{
    padding-right: 90px;
   
    }
    .img-logo{
        max-width: 12%;
        margin-left: 2em;
    }
}

