<app-header></app-header>
<div class="container" id="container-contacto">
  <div class="row p-4">
    <div class="col">
      <h1><b>Contacto</b></h1>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-md-6">
    <p>
      <b>En qué podemos ayudarte?</b>
      <br /><br />
      Déjanos tus datos y nosotros nos pondremos en contacto contigo.
    </p>
    <br/>
    <b> Contáctanos por email</b> 
    <br/><br/>
    <b> México</b>
    <br/><i class="bi bi-envelope"></i> eduardo@estudiofd.com
    <br/>Oficinas: Vía de Gavia 28-33, Metepec, México.
    
    <br/> <br/>
    <b>Madrid </b>
    <br/> <i class="bi bi-envelope"></i> madrid@estudiofd.com
    <br/>Oficinas: Amor de dios 12, Madrid, España.<br/>
        

    </div>
  <div class="col-md-6">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
  </div>
</div>



<div class="row d-none d-md-block white-block-footer"></div>
</div>
<app-footer></app-footer>